@import 'tailwindcss';

@theme {
  --color-dark-blue: #354455;
  --color-light-beige: #f3ede5;
  --color-foreground: #2b1f20;
  --color-dark-green: #445f50;
  --color-green: #4a6b58;
  --color-light-blue: #dfe1e8;
  --color-gray: #585858;
}
